/* -- CONFIG & PROPS-- */

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --clr-grey: #efefef;
  --clr-black: #222227;
  --clr-red: #f3735f;
}

/* --GENERAL-- */

body {
  font-size: 16px;
  font-family: TripSans, sans-serif;
  background-color: var(--clr-grey);
}

.container {
  width: 1135px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

nav > a {
  color: black;
  text-decoration: none;
}

nav > a:hover {
  font-weight: bold;
}

/* --HEADER -- */

header {
  height: 60px;
  margin-bottom: 20px;
}

header > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 40px;
}

header nav {
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
}

header nav :is(a, button) {
  padding: 7px 10px;
  border-radius: 20px;
}

header nav a:hover {
  background-color: lightgray;
}

header nav > a i {
  margin-right: 0.5em;
}

header nav > button {
  background-color: var(--clr-black);
  color: white;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
}

/* --BODY-- */

/* apply vert margins */
main :is(nav, section) {
  margin: 15px 0;
}

h1 span {
  color: var(--clr-red);
}

nav#nav1 {
  display: flex;
  gap: 1rem;
}

nav#nav1 > div {
  flex: 1;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav#nav1 > div > span {
  text-overflow: ellipsis;
}

/* gallery */

.imgBlock {
  margin: 20px 0;
  width: 100%;
  display: flex;
  gap: 5px;
}

.imgblock img {
  object-fit: cover;
}

.imgBlock > img {
  width: 60%;
}

.imgBlock > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imgBlock > div > img {
  flex: 1;
  width: 100%;
}

/* -- nav 2 -- */

nav#nav2 {
  display: flex;
  gap: 1rem;
}

/* -- section description --*/

section#description {
  margin-top: 30px;
  display: flex;
  gap: 2rem;
}

section#description > div {
  flex: 3;
}

section#description > div.card {
  flex: 2;
}

.card {
  width: 600px; /* temporary ?*/
  border-radius: 10px;
  overflow: hidden; /* necessayr for border-radius ? */
  display: flex;
  flex-direction: column;
}

.card div {
  background-color: var(--clr-red);
  padding: 20px;
}

.card div button {
  background-color: var(--clr-black);
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.card img {
  object-fit: cover;
}

/* -- Section Carousels -- */

.not-to-miss > div {
  display: flex;
}

.not-to-miss > div > :first-child {
  flex: 1;
}

/* carousel */
.carrousel {
  flex: 3;
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
}

/* just 3 pics */
.carrousel > div {
  flex-shrink: 0;
  width: calc((100% - 2 * 10px) / 3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carrousel > div > div {
  position: relative;
}

/* like inset */
.carrousel > div > div > i {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black; /* reveal */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* logo inset */
.carrousel > div > div > img:last-of-type {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  background-color: orange;
}

.not-to-miss img {
  width: 100%;
}

/* -- FOOTER -- */
footer {
  height: 200px;
  background-color: bisque;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

footer img {
  border: 1px solid black; /*debug*/
  height: 40px;
}

footer p {
  border: 1px solid black; /*debug*/
  font-size: 1.2rem;
}

footer p strong {
  font-weight: bold; /* strong does not work*/
}
