/* -- CONFIG & PROPS-- */

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --clr-grey: #efefef;
  --clr-black: #222227;
  --clr-red: #fe5d5d;
  --clr-yellow: #f1b202;
}

/* --GENERAL-- */

body {
  font-size: 16px;
  font-family: TripSans, sans-serif;
  background-color: white;
}

.container {
  width: 1135px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 54px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 28px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}

/* p {
  margin-bottom: 1rem;
} */

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

a {
  color: black;
}

nav > a {
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
}

/* -- HEADER -- */

header {
  height: 60px;
  margin-bottom: 20px;
  position: fixed; /* ADDED FOR FIX */
  top: 0; /* ADDED FOR FIX */
  width: 100%; /* ADDED FOR FIX */
  z-index: 5; /* ADDED FOR FIX */
  background-color: white;
}

main {
  margin-top: 80px; /* ADDED FOR FIX */
}

header > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 40px;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

header nav :is(a, button) {
  padding: 7px 10px;
  border-radius: 20px;
}

header nav a:hover {
  background-color: var(--clr-grey);
}

header nav > a i {
  margin-right: 0.5em;
}

header nav > button {
  background-color: var(--clr-black);
  color: white;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
}

/* -- MAIN -- */

/* apply vert margins */
main :is(nav, section) {
  margin: 15px 0;
}

h1 span {
  color: var(--clr-red);
}

main p:first-of-type {
  font-size: 14px;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu > div {
  flex: 1;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.menu > div:hover {
  color: white;
  background-color: black;
}

menu > div p {
  text-overflow: ellipsis;
}

/* gallery */

.img-block {
  /* margin: 20px 0; */
  height: 430px;
  width: 100%;
  display: flex;
  gap: 5px;
}

.img-block > :nth-child(1) {
  flex: 1;
}

.img-block > :nth-child(2) {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img-block > :nth-child(2) img {
  height: calc((100% - 5px) / 2);
}

.img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-block img:hover {
  opacity: 0.6;
}

/* -- nav 2 -- */

.breadcrumb {
  display: flex;
  gap: 0.5rem;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

/* -- section description --*/

#description {
  margin-top: 30px;
  display: flex;
  gap: 150px;
}

#description > :first-child {
  flex: 3;
  line-height: 1.5rem;
  text-align: justify;
}

#description .card {
  flex: 2;
  border-radius: 10px;
  overflow: hidden; /* necessayr for border-radius ? */
  display: flex;
  flex-direction: column;
}

.card div {
  background-color: var(--clr-red);
  padding: 20px;
}

.card div button {
  background-color: var(--clr-black);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 20px 0;
}

.card img {
  object-fit: cover;
}

/* -- Section Carousels -- */

#not-to-miss > div {
  display: flex;
}

#not-to-miss > div > :first-child {
  flex: 1;
}

#not-to-miss > div > :first-child p {
  margin-bottom: 1rem;
}

/* carousel */
.carrousel {
  flex: 3;
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
}

/* just 3 pics */
.carrousel > div {
  flex-shrink: 0;
  width: calc((100% - 2 * 10px) / 3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carrousel > div > div {
  position: relative;
}

/* like inset */
.carrousel > div > div > i {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid black; reveal */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* .carrousel > div > div > i:hover {
  background-color: var(--clr-grey);
} */

/* logo inset */
.carrousel > div > div > img:last-of-type {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  background-color: var(--clr-yellow);
}

.carrousel img {
  width: 100%;
}

.carrousel img:hover {
  opacity: 0.6;
}

/* -- FOOTER -- */
footer {
  height: 150px;
  background-color: bisque;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 40px;
}

footer p {
  font-size: 1.2rem;
  margin: 0;
}

footer :is(span, a) {
  font-weight: bold; /* strong does not work*/
}

footer i {
  color: var(--clr-red);
}
